*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/.metadata
/.gradle
/**/build/**
/**/bin/**
/**/gen/**
**/.idea/workspace.xml
**/.idea/misc.xml
**/.idea/libraries
import-summary.txt
*.log
*.apk